<extend name="Template:commoncontent" />
<block name="content">
	<div class="container-fluid">
    	<div class="row-fluid">
      		<div class="row-fluid">
      			<div class="well">

                        <input type="hidden" name="id" value="<{$user['id']}>">
						<label>昵称</label>
						<input type="text" name="nic_name"  placeholder="昵称不能为空" value="<{$user['nic_name']}>">
						<label>新密码</label>
						<input type="password" name="password" placeholder="为空时不修改"><br/><br/>
                        <p style="padding-left: 60px;">
						    <button id="btn-form" class="btn btn-info btn-radius" style="width: 80px;">提交</button>
                        </p>

      			</div>
      		</div>
      	</div>
   	</div>
</block>

<block name="diyjs">
    <script type="text/javascript">


        //检查昵称
        var nicNameObj = $('input[name="nic_name"]');
        nicNameObj.blur(function(){
            var nicName = $(this).val();
            if(nicName == ''){
                layer.tips('昵称不能为空',nicNameObj);
                $('#btn-form').attr('disabled','disabled');
            }else{
                $('#btn-form').removeAttr('disabled');
            }
        });

        //更新并将父级窗口关闭
        var index = parent.layer.getFrameIndex(window.name);
        $('#btn-form').on('click',function(){
            //判断密码是否为空
            var Pobj = $('input[name="password"]');
            var password = Pobj.val();


            var id = $('input[name="id"]').val();
            var nic_name = $('input[name="nic_name"]').val();
            $.post('/index.php/backend/main/do_update_password',
                    {id:id,nic_name:nic_name,password:password},
                    function(msg){

                        //成功
                        if(msg.error_code == 0){
                            layer.msg(msg.des,function(){
                                parent.layer.close(index);
                            });
                        }else{
                            layer.msg(msg.des);
                        }
                    },'json'
            );

        });

    </script>
</block>