<extend name="Template:commoncontent" />
<block name="style">
<style type="text/css">
	.role-style{padding: 5px;overflow: auto;}
	.top-role-style{font-weight: 700;color:black;font-size: 16px;width:300px;}
	.one-child{float: left;margin-left: 10px;}
	.role{border: 1px solid #ccc;overflow: auto;padding: 3px;}
</style>
</block>
<block name="content">
	<div class="well">
		<form class="form-horizontal" action="<{:U('Admin/do_add_admin')}>" method="post">
			<label>邮箱</label>
			<input type="text" name="email" placeholder="hr@vshare.com">
			<label>密码</label>
			<input type="password" name="password" placeholder="密码6-18位">
			<label>角色</label> 
			<div class="role">
			<span><input type="checkbox" id="select-all">所有</span>
			<volist name="role" id="one">
			<div class="role-style">
				<div class="checkbox top-role-style"><label><input name="roleid[]" value="<{$one.id}>" type="checkbox" ><{$one.role_name}></label></div>
				<div class="child-role-style">
					<volist name="one.child_role" id="o">
						<div class="checkbox one-child"><label><input name="roleid[]" value="<{$o.id}>" type="checkbox" ><{$o.role_name}></label></div>
					</volist>
				</div>
			</div>
			<div style="clear:both;"></div>
			</volist>
			</div>
			<button id="btn-form" class="btn btn-primary">提交</button>
		</form>
	</div>
</block>

<block name="diyjs">
<script type="text/javascript">
	var emailObj = $('input[name="email"]');
	emailObj.focus(function(){
		if(!$(this).val()){
			layer.tips('可填写企业邮箱',$(this));
		}
	});
	emailObj.blur(function(){
		checkEmail();
	})
	//检查邮箱
	function checkEmail(){
		var email = emailObj.val();
		var pattern = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!pattern.test(email)){
        	layer.tips('邮箱格式错误',emailObj)
            return false;
        }else{
        	$.post('<{:U("Admin/check_user_email")}>',{email:email},function(msg){
        		layer.tips(msg.des,emailObj);
        	},'json');
        }
	}

	//检查密码
	var passwordObj = $('input[name="password"]');
	passwordObj.blur(function(){
		var password = $(this).val();
		if(password.length<6 || password.length>18){
			layer.tips('密码长度须在6-18',passwordObj);
			$('#btn-form').attr('disabled','disabled');
		}else{
			$('#btn-form').removeAttr('disabled');
		}
	});


	//选中所有
	$('#select-all').click(function(){
		if($(this).attr('checked')=='checked'){
			$('input[name="roleid[]"]').attr('checked','checked');
		}else{
			$('input[name="roleid[]"]').removeAttr('checked');
		}
	});

	//点击顶级
	$('.top-role-style').find('input[name="roleid[]"]').click(function(){
		var child = $(this).parents('.role-style').find('.child-role-style').find('input[name="roleid[]"]');
		if($(this).attr('checked') == 'checked'){
			child.attr('checked','checked');
			//判断全局是否都选中
			checkAllIsChecked();
		}else{
			child.removeAttr('checked');
			//移除全局选中
			$('#select-all').removeAttr('checked');
		}
	});

	//点击二级角色
	$('.child-role-style').find('input[name="roleid[]"]').click(function(){
		var parentSelectAll = $(this).parents('.role-style').find('.top-role-style').find('input[name="roleid[]"]');
		if($(this).attr('checked') == 'checked'){
			//检查所在二级列表是否全选中
			var listCheckedLength = $(this).parents('.child-role-style').find('input').length;
			var listSelectedCheckdedLength = $(this).parents('.child-role-style').find('input:checked').length;
			if(listCheckedLength == listSelectedCheckdedLength){
				parentSelectAll.attr('checked','checked');
				//判断全局是否都选中
				checkAllIsChecked();
			}
		}else{
			//移除上级所有选中
			parentSelectAll.removeAttr('checked');
			//移除全局选中
			$('#select-all').removeAttr('checked');
		}
	});
	//判断全局是否选中
	function checkAllIsChecked(){
		var allCheckedLength = $('input[name="roleid[]"]').length;
		var allSelectCheckedLength = $('input[name="roleid[]"]:checked').length;

		if(allCheckedLength == allSelectCheckedLength){
			$("#select-all").attr('checked','checked');
		}else{
			$('#select-all').removeAttr('checked');
		}
	}
</script>
</block>