<extend name="Template:commoncontent" />

<block name="content">
	<div class="container-fluid">
    	<div class="row-fluid">
      		<div class="row-fluid">
      			<div class="btn-toolbar">
				    <button id="add-node" class="btn btn-info btn-radius">添加节点</button>
				  	<div class="btn-group">
				  	</div>
				</div>
				<div class="well">
				    <table class="table table-hover">
				    	<tr>
				    		<th width="8%">编号</th>
                            <th width="6%">ID</th>
				    		<th width="15%">节点名</th>
                            <th width="15%">中文名称</th>
                            <th width="8%">类型</th>
                            <th width="8%">图标</th>
                            <th width="8%">菜单栏</th>
                            <th width="8%">状态</th>
                            <th width="8%">公共节点</th>
                            <th width="8%">排序</th>
				    		<th width="8%">操作</th>
				    	</tr>

                        <volist name="nodes" id="vo" >
                        <tr class="success" data-id="<{$vo.id}>" style="cursor: pointer">
                            <td><{$i}></td>
                            <td><{$vo.id}></td>
                            <td><{$vo.name}></td>
                            <td><{$vo.title}></td>
                            <td><{$vo.type}></td>
                            <td><if condition="$vo.icon"><i class="<{$vo.icon}>"></i><else/>无</if></td>

                            <td>
                                <if condition="$vo.is_menu eq 1 ">是
                                    <else /> 否
                                </if>

                            </td>
                            <td>
                                <if condition="$vo.status eq 1 ">激活
                                    <else /> 禁用
                                </if>
                            </td>
                            <td>
                                <if condition="$vo.is_public eq 1 ">是
                                    <else /> 否
                                </if>
                            </td>
                            <td><{$vo.sort}></td>

                            <td>
                                <a class="do_update" href="/index.php/backend/admin/edit_node/node_id/<{$vo.id}>" alt="编辑"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
                                <a class="do_delete" href="javascript:;" data-id="<{$vo.id}>" alt="删除" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                            </td>

                        </tr>
                            <tr><td colspan="11">
                            <table class="table sub-success-<{$vo.id}>" style="display: none">
                            <volist name="vo.child_node" id="o" key="k">

                                <tr  class="sub-tr">
                                    <td width="8%">&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-arrow-right"></i><{$i}>.<{$k}></td>
                                    <td width="6%"><{$o.id}></td>
                                    <td width="15%"></i><{$o.name}></td>
                                    <td width="15%"></i><{$o.title}></td>
                                    <td width="8%"><{$o.type}></td>
                                    <td width="8%"><if condition="$o.icon"><i class="<{$o.icon}>"></i><else/>无</if></td>
                                    <td width="8%">
                                        <if condition="$o.is_menu eq 1 ">是
                                            <else /> 否
                                        </if>

                                    </td>
                                    <td width="8%">
                                        <if condition="$o.status eq 1 ">激活
                                            <else /> 禁用
                                        </if>
                                    </td>
                                    <td width="8%">
                                        <if condition="$o.is_public eq 1 ">是
                                            <else /> 否
                                        </if>
                                    </td>
                                    <td width="8%"><{$o.sort}></td>
                                    <td width="8%">
                                        <a class="do_update" href="/backend/admin/edit_node/node_id/<{$o.id}>" alt="编辑"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
                                        <a class="do_delete" href="javascript:;" data-id="<{$o.id}>" alt="删除" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                                    </td>

                                </tr>
                            </volist>
                            </table>
                            </td></tr>
                        </volist>

				    </table>
				</div>

      		</div>
      	</div>
    </div>
</block>

<block name="diyjs">
	<script type="text/javascript">
		//添加用户组效果
		$('#add-node').click(function(){
			layer.open({
			    type: 2,
			    skin: 'layui-layer-rim', //加上边框
                offset: '50px',
			    area: ['510px', '500px'], //宽高
			    content: "/backend/admin/edit_node",
			    title:'<strong>新增权限节点</strong>',
			    //end:refresh //回调函数
			});
		});

		$(".do_update ").click(function(){
			var url = $(this).attr('href');
            layer.open({
                type: 2,
                skin: 'layui-layer-rim', //加上边框
                offset: '50px',
                area: ['510px', '500px'], //宽高
                content: url,
                title:'<strong>更新权限节点</strong>',
                //end:refresh //回调函数
            });
			return false;
		});

		$('.do_delete').click(function(){
			var id = $(this).attr('data-id');
			layer.confirm('确认删除？', {icon: 3, title:'提示'}, function(index){
                layer.close(index);
			    deleteRole(id);
			});
		});

		function refresh(){
			window.location.href=window.location.href;
		}

		function deleteRole(nodeID){
			$.post('/index.php/backend/admin/delete_node',{node_id:nodeID},function(msg){
				layer.msg(msg.des);
				if(msg.error_code == 0){
					$('a[data-id="'+nodeID+'"]').parents('tr.sub-tr').remove();
				}
			},'json');
		}

        //添加点击隐藏/显示 子节点
        $('tr.success').click(function(){
            var id = $(this).data('id');
            var subObj = $(".sub-success-"+id);
            subObj.toggle();
        });
	</script>
</block>