<extend name="Template:commoncontent" />
<block name="style">

<style type="text/css">
	.node-style{padding: 5px;overflow: auto;}
	.top-node-style{font-weight: 700;color:black;font-size: 16px;width:300px;}
	.one-child{float: left;margin-left: 10px;}
	.node{border: 1px solid #ccc;overflow: auto;padding: 3px;}
    .role-style{font-weight: 700;font-size: 20px;color: #003bb3;}
</style>
</block>

<block name="content">
	<div class="well">
		<form class="form-horizontal" id="role-node-form">
			<label><span class="role-style"><{$role_name}></span>的权限：</label>
            <input type="hidden" name="role_id" value="<{$role_id}>">
			<div class="node">
			<span><input type="checkbox" id="select-all">所有</span>
			<volist name="nodes" id="one">
			<div class="node-style">
				<div class="checkbox top-node-style"><label>
                    <input data-id="<{$one.id}>" name="node_ids[]" value="<{$one.id}>" type="checkbox" <if condition="in_array($one['id'],$node_ids)">checked</if>><{$one.title}>
                    <if condition="$one.is_menu eq 1" ><strong>[菜单栏]</strong></if>
                </label></div>

				<div class="child-node-style">
					<volist name="one.child_node" id="o">
						<div class="checkbox one-child"><label>
                            <input name="node_ids[]" value="<{$o.id}>" type="checkbox" <if condition="in_array($o['id'],$node_ids)">checked</if>><{$o.title}>
                            <if condition="$o.is_menu eq 1" ><strong>[菜单栏]</strong></if>
                        </label></div>
					</volist>
				</div>
			</div>
			<div style="clear:both;"></div>
			</volist>
			</div>
            <br/>
            <div style="text-align: center">
			    <button  type="submit" class="btn btn-info btn-radius" style="width: 120px;">保存</button>
            <div>
		</form>
	</div>
</block>

<block name="diyjs">
<script type="text/javascript">
    var index = parent.layer.getFrameIndex(window.name);
    $('#role-node-form').submit(function () {
        var data = $('#role-node-form').serialize();
        $.post('/backend/admin/do_role_node',data, function(msg){
            if(msg.error_code == 0){
                //成功
                layer.msg(msg.des,function(){
                    parent.layer.close(index);
                });
            }else{
                layer.msg(msg.des);
            }
        },'json');
        return false;
    });
	//选中所有
	$('#select-all').click(function(){
		if($(this).attr('checked')=='checked'){
			$('input[name="node_ids[]"]').attr('checked','checked');
		}else{
			$('input[name="node_ids[]"]').removeAttr('checked');
		}
	});

	//点击顶级
	$('.top-node-style').find('input[name="node_ids[]"]').click(function(){
		var child = $(this).parents('.node-style').find('.child-node-style').find('input[name="node_ids[]"]');
		if($(this).attr('checked') == 'checked'){
			child.attr('checked','checked');
			//判断全局是否都选中
			checkAllIsChecked();
		}else{
			child.removeAttr('checked');
			//移除全局选中
			$('#select-all').removeAttr('checked');
		}
	});

	//点击二级角色
	$('.child-node-style').find('input[name="node_ids[]"]').click(function(){
		var parentSelectAll = $(this).parents('.node-style').find('.top-node-style').find('input[name="node_ids[]"]');

        if($(this).attr('checked') == 'checked'){
            //检查所在二级列表是否全选中
            var listCheckedLength = $(this).parents('.child-node-style').find('input').length;
            var listSelectedCheckdedLength = $(this).parents('.child-node-style').find('input:checked').length;
            if(listCheckedLength == listSelectedCheckdedLength){
                parentSelectAll.attr('checked','checked');
                //判断全局是否都选中
                checkAllIsChecked();
            }
        }else{
            //移除上级所有选中
            parentSelectAll.removeAttr('checked');
            //移除全局选中
            $('#select-all').removeAttr('checked');
        }



	});
	//判断全局是否选中
	function checkAllIsChecked(){
		var allCheckedLength = $('input[name="node_ids[]"]').length;
		var allSelectCheckedLength = $('input[name="node_ids[]"]:checked').length;

		if(allCheckedLength == allSelectCheckedLength){
			$("#select-all").attr('checked','checked');
		}else{
			$('#select-all').removeAttr('checked');
		}
	}
</script>
</block>